// フォントサイズ
.font-sr {
	font-size: 20px;
	letter-spacing: 0.05em;
	line-height: 2.1;
}

.font-sm {
	font-size: 24px;
	letter-spacing: 0.05em;
	line-height: 2.1;
}

.font-md {
	font-size: 30px;
	letter-spacing: 0.1em;
	line-height: 2;
}

.font-lr {
	font-size: 36px;
	letter-spacing: 0.005em;
	font-weight: 400;
}

.font-lg {
	font-size: 40px;
	font-weight: 400;
	letter-spacing: 0.05em;
}

//　各セクション見出し

.heading{
	// position: relative;
	// width: 90%;
	margin-bottom: 50px;


	img{
		width: 55px;
		// position: absolute;
		// left: -5px;
		// top: -15px;
		z-index: 1;
	}

	h2 {
		line-height: 1;
		z-index: 99;
		font-size: 36px;
	}
}


// -------------
// header
// -------------
.deskTop-menu {
	display: block;
}

.header__logo{
	img{
		height: 100px;
	}
}

.sp-menu {
	display: none;
}


// -------------
// ハンバーガーメニュー
// -------------


// ----------------
// メッセージ
// ----------------

.message {
	p {
		margin-left: 20%;
	}
}
// -------------
// 組合費はどう使われているの？
// -------------

.usage-union-dues {
	article{
		display: flex;
	}
}

.usage-union-dues__desc{
	p{
		line-height: 1.3;
		letter-spacing: 0;
	}
}

// -------------
// 具体的にはこんなことをしています
// -------------
.spe-act {
	display: flex;
	> div{
		flex: 1;
	}
}
