body{
	font-family: 'Roboto', 'Noto Sans JP', sans-serif;
	max-width: 960px;
	margin: 0 auto;
}

section {
	max-width: 90%;
	margin: 0 auto;
	margin-bottom: 100px;
	padding-top: 50px;
}

// フォントサイズ
.font-sr {
	font-size: 14px;
	letter-spacing: 0.05em;
	line-height: 1.8;
}

.font-sm {
	font-size: 16px;
	letter-spacing: 0.05em;
	line-height: 1.8;
}

.font-md {
	font-size: 18px;
	letter-spacing: 0.1em;
	line-height: 2;
}

.font-lr {
	font-size: 20px;
	letter-spacing: 0.005em;
	font-weight: 400;
}

.font-lg {
	font-size: 24px;
	font-weight: 400;
	letter-spacing: 0.05em;
}


// マージン・パディング
.mb-sm {
  margin-bottom: 16px !important;
}
.mb-md {
	margin-bottom: 56px !important;
}
.mb-lg {
  margin-bottom: 80px !important;
}
.pb-sm {
  padding-bottom: 16px !important;
}
.pb-lg {
  padding-bottom: 80px !important;
}

// 要素中央揃え
.content-width {
  width: 90%;
  margin: 0 auto;
  max-width: $contentMaxWidth;
}

// 箇条書きスタイル消す
ul {
	padding: 0;
}
li {
	list-style: none;
}

// emシリーズ

.yellow-line {
	background: linear-gradient(transparent 60%, gold 0%);
}

.blue-line {
	background: linear-gradient(transparent 60%, lightcyan 0%);;
}

//　各セクション見出し

.heading{
	// position: relative;
	// width: 90%;
	margin-bottom: 50px;


	img{
		width: 33px;
		// position: absolute;
		// left: -5px;
		// top: -15px;
		z-index: 1;
	}

	h2 {
		line-height: 0.8;
		z-index: 99;
		font-size: 28px;
	}
}


// -------------
// header
// -------------


.header__nav-bar {
	height: auto;
	width: 100%;
	display: flex;
	justify-content: space-between;
	// padding: 0 5%;
}

.header__logo > img{
	// position: absolute;
	// top: 30px;
	// left: 10px;
	height: 50px;
	// z-index: 10;
}

.header {
	background-color: $--main-bg-cSkyblue;
	color: $--main-font-cBlue;
	height: 300px;
	width: 100%;
	position: relative;
}


// -------------
// ハンバーガーメニュー
// -------------

.sp-menu{
	z-index: 30;
	width: 50px;
	height: 50px;
	background-color: #1470A3;
	border: none;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	& span {
		background-color: $--main-font-cWhite;
		width: 25px;
		height: 2px;
		margin-bottom: 8px;
		display: block;
		transition: 1s;
		&:last-child {
			margin-bottom: 0;
		}
	}
}

.sp-menu-open {
	& > span {
		&:nth-child(1) {
			transform: translateY(10px) rotate(135deg);
		}
		&:nth-child(2) {
			transform: translateY(-14px) scaleX(0);
		}
		&:nth-child(3) {
			transform: translateY(-10px) rotate(-135deg);
		}
	}
}

.menu-list {
	z-index: 20;
	transition: 1s;
	// display: none;
	visibility: hidden;
	transform: scaleX(0);
	// transform: translateX(1000px);
	transform-origin: right;
	background-color: rgba(0, 0, 0, 0.8);
	width: 100%;
	height: 120%;
	position: absolute;
	top: -50px;
	text-align: center;

	& ul {
		position: absolute;
		display: block;
		top: 50%;
		left: 45%;
		transform: translate(-50% , -50%);
		li{
			margin-bottom: 20px;
		}

	}
}

.menu-list-open{
	transform: scaleX(1);
	visibility: visible;
	// transform: translateX(0);
	// display: block;
}

.deskTop-menu {
	display: none;
}

// ---------------
// ヘッダータイトル
// ---------------
.main-title {
	padding-top: 0;
	background-color: yellow;
	height: 100%;
	background-image: url(/img/header-img.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	&::before{
		display: block;
		position: absolute;

		background-color: rgba(0,0,0,0.4);
		content: '';
		height: 100%;
		width: 100%;
	}
}

.text-wrapper {
	position: absolute;
	top: 60%;
	left: 10%;
	color: $--main-font-cWhite;
}

// ----------------
// メッセージ
// ----------------
.message {
	h2 {
		background-color: $--main-bg-cBlack;
		color: $--main-font-cWhite;
		line-height: 1.2;
		padding: 10px;
		p {
			text-align: justify;
		}
	}
}

// ---------------
// About
// ---------------



#mark {
	width: 33px;
	position: absolute;
	left: -5px;
	top: -15px;
	z-index: 1;
}


// -------------
// prologue
// -------------

.prologue__message01, .prologue__message02{
	background: linear-gradient(to left, $--main-bg-cCream 80%, #fff 20%);
	padding: 40px 0;
	p{
		margin-left: 25%;
	}
}


.separator-skyblue-top {
	height: 100px;
	width: 100%;
	background-color: $--main-bg-cSkyblue;
	border-top-right-radius: 100px;
}

.separator-skyblue-bottom {
	height: 100px;
	width: 100%;
	background-color: $--main-bg-cSkyblue;
	border-bottom-left-radius: 100px;
}





// -------------
// Rough-Act
// -------------



.rough-act__bg {
	background-color: $--main-bg-cSkyblue;
}

.rough-act {
	background-color: $--main-bg-cSkyblue;
	margin-bottom: 0;
}

.illust {
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
	background-color: $--main-bg-cSkyblue;
	// background-image: url(./img/circle-arrow@2x.png);
	background-image: url(/img/circle-arrow@2x.png);
	background-size: 140%;
	background-repeat: no-repeat;
	background-position-x: 75%;
	background-position-y: 30%;
	div {
		:first-child{
			margin-bottom: 24px;

		}
	}
}

.rough-act__img {
	width: 150px;
}

.box-row {
	display: flex;
	justify-content: center;
	align-items: center;
	img {
		margin-right: 20px;
	}
	p {
		width: 40%;
	}
}

.box-wrapper {
	display: flex;
	justify-content: space-around;
	p{
		width:100px;
	}
}

.box-column > p {
	width: 150px;
}




// -------------
// 加入者の思い
// -------------

.members-thought{
	article {
		width: 100%;
		padding: 10%;
		margin-bottom: 30px;
		box-sizing: border-box;
		border: solid 2px $--main-font-cGray;
		background-color: $--main-bg-cCream;
		img {
			width: 100%;
		}

	}
}





// -------------
// 組合費はどう使われているの？
// -------------

#myChart {
	// background-color: aquamarine;
	max-width: 400px;
}


// -------------
// 専門部という活動があります
// -------------

.specialty {
	display: flex;
	flex-direction: column;
	align-items: center;
	background: linear-gradient(to left, $--main-bg-cCream 90%, #fff 10%);
	padding: 40px 0;
	border-radius: 20px;
	p{
		margin-left: 15%;
		padding-right: 20px;
		text-align: justify;
	}
}

.swiper-container {
	width: 100%;
	height: auto;
}


.specialty__box {
	width: 100%;

	h3 {
		margin: 0;
	}
	img {
		width:50px;
		margin-right: 10px;
	}
}

.specialty__heading {
	display: flex;
	align-items: center;
}

.specialty__text {
	width: 90%;
	margin: 0 auto;
	p{
		margin-left: 15%;
		padding-right: 10%;
		font-size: 16px;
		line-height: 1.6;
		text-align: justify;
		display: block;
	}
}




// -------------
// 具体的にはこんなことをしています
// -------------


.specific-activities {
	article {
		img {
			width: 100%;
			max-width: 300px;
		}
	}
}

.spe-act {
	margin-bottom: 80px;
	border-top: solid 2px $--main-font-cGray;
}


// -------------
// よくある疑問に答えます
// -------------

.question {
	background-color: $--main-bg-cCream;
	display: flex;
	align-items: center;
	padding: 10px;
	border-radius: 10px;
	margin-bottom: 10px;
	& > img {
		margin-right: 15px;
	}
	& > p{
		font-size: 20px;
		margin: 0;
	}
}


.qa {
	background-color: #FAF8D2;
	border-radius: 10px;
	dd{
		p{
			padding-right: 50px;
		}
	}
}

.qa-list dl {
	position: relative;
	margin-top: 10px;
	padding: 5px;
	cursor: pointer;
	border-bottom: 1px solid #000;
}
.qa-list dl::before {
	position: absolute;
	z-index: 1;
	top: 35px;
	right: 35px;
	display: block;
	width: 7px;
	height: 7px;
	margin: auto;
	content: '';
	transform: rotate(135deg);
	border-top: 2px solid #000;
	border-right: 2px solid #000;
}
.qa-list .open::before {
	transform: rotate(-45deg);
}
.qa-list dl dt {
	position: relative;
	margin: 0;
	padding: 0 0 0 50px;
	font-weight: bold;
	font-size: 20px;
}

.qa-list dl dd {
	position: relative;
	display: none;
	height: auto;
	margin: 20px 0 0;
	padding: 0 0 0 50px;
}
.qa-list dl dd p {
	margin: 30px 0 0;
}
.qa-list dl dd p:first-child{
	margin-top: 0;
}

@media screen and (max-width: 767px) {
.qa-list dl {
	position: relative;
	// padding: 15px 40px 15px 10px;
	padding-right: 40px;
}
.qa-list dl::before {
	top: 20px;
	right: 20px;
	width: 7px;
	height: 7px;
}
.qa-list dl dt {
	padding: 0;
	font-size: 14px;
}
// .qa-list dl dt::before {
// 	font-size: 14px;
// 	top: 3px;
// 	left: 5px;
// 	content: 'Q.';
// }
// .qa-list dl dd::before {
// 	font-size: 14px;
// 	top: 5px;
// 	left: 5px;
// 	content: 'A.';
// }
.qa-list dl dd {
	margin: 10px 0 0;
	padding: 0 0 0 30px;
	font-size: 14px;
}
.qa-list dl dd p {
	margin: 30px 0 0;
}
.qa-list dl dd p:first-child{
	margin-top: 0;
}
}


// -------------
// Contact
// -------------

.sns-wrapper {
	display: flex;
	margin-top: 40px;
}

.contact__heading3{
	font-size: 20px;
}

.sns-icon{
	font-size: 24px;
	text-align: center;
	h4{
		color: $--main-bg-cBlack;
	}
	img{
		width: 50%;
	}
}

.contact-description{
	h4{
		font-size: 20px;
	}
}

.g-form__box{
	width: 100%;
	height: 2000px;
}
