// 最大幅
$contentMaxWidth: 1440px;

// 色
$--main-font-cBlack:			#141414;
$--main-bg-cWhite:				#ffffff;
$--main-bg-cBlack:				#333333;
$--main-bg-cCream:				#FAF8D2;
$--main-bg-cSkyblue:			#D2F1FA;
$--main-font-cWhite:			#FFFFFF;
$--main-font-cGray: 			#707070;
$--main-font-cBlue:  			#1470A3;


