// 最大幅
$contentMaxWidth: 1440px;

// 色
$--main-font-cBlack:			#141414;
$--main-bg-cWhite:				#ffffff;
$--main-bg-cBlack:				#333333;
$--main-bg-cCream:				#FAF8D2;
// $--main-bg-cCream:				#D2F1FA;
$--main-bg-cSkyblue:			#D2F1FA;
// $--main-bg-cSkyblue:			#ffffff;
$--main-font-cWhite:			#FFFFFF;
$--main-font-cGray: 			#707070;
$--main-font-cBlue:  			#1470A3;


// display
// list-style
// position
// float
// clear
// width
// height
// margin
// padding
// border
// background
// color
// font
// text-decoration
// text-align
// vertical-align
// white-space
// other text
// content
