body {
  font-family: 'Roboto', 'Noto Sans JP', sans-serif;
  max-width: 960px;
  margin: 0 auto;
  text-align: justify;
}

section {
  max-width: 90%;
  margin: 0 auto;
}

.font-sr {
  font-size: 14px;
  letter-spacing: 0.05em;
  line-height: 1.8;
}

.font-sm {
  font-size: 16px;
  letter-spacing: 0.05em;
  line-height: 1.8;
}

.font-md {
  font-size: 18px;
  letter-spacing: 0.1em;
  line-height: 2;
}

.font-lr {
  font-size: 20px;
  letter-spacing: 0.005em;
  font-weight: 400;
}

.font-lg {
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0.05em;
}

.mb-sm {
  margin-bottom: 16px !important;
}

.mb-md {
  margin-bottom: 56px !important;
}

.mb-lg {
  margin-bottom: 80px !important;
}

.pb-sm {
  padding-bottom: 16px !important;
}

.pb-lg {
  padding-bottom: 80px !important;
}

.content-width {
  width: 90%;
  margin: 0 auto;
  max-width: 1440px;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

.yellow-line {
  background: linear-gradient(transparent 60%, gold 0%);
}

.blue-line {
  background: linear-gradient(transparent 60%, lightcyan 0%);
}

.heading {
  margin-bottom: 50px;
}

.heading img {
  width: 33px;
  z-index: 1;
}

.heading h2 {
  line-height: 0.8;
  z-index: 99;
  font-size: 28px;
}

.header__nav-bar {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.header__logo > img {
  height: 50px;
}

.header {
  background-color: #D2F1FA;
  color: #1470A3;
  height: 300px;
  width: 100%;
  position: relative;
}

.sp-menu {
  width: 50px;
  height: 50px;
  background-color: #1470A3;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sp-menu span {
  background-color: #FFFFFF;
  width: 25px;
  height: 2px;
  margin-bottom: 6px;
  display: block;
  transition: 1s;
}

.sp-menu span:last-child {
  margin-bottom: 0;
}

.sp-menu-open {
  position: relative;
  z-index: 9999;
}

.sp-menu-open > span:nth-child(1) {
  transform: translateY(10px) rotate(135deg);
}

.sp-menu-open > span:nth-child(2) {
  transform: translateY(-14px) scaleX(0);
}

.sp-menu-open > span:nth-child(3) {
  transform: translateY(-10px) rotate(-135deg);
}

.menu-list {
  z-index: 20;
  transition: 1s;
  visibility: hidden;
  transform: scaleX(0);
  transform-origin: right;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 120%;
  position: absolute;
  top: -50px;
  text-align: center;
}

.menu-list ul {
  position: absolute;
  display: block;
  top: 50%;
  left: 45%;
  transform: translate(-50%, -50%);
}

.menu-list ul li {
  margin-bottom: 20px;
}

.menu-list-open {
  transform: scaleX(1);
  visibility: visible;
}

.deskTop-menu {
  display: none;
}

.main-title {
  padding-top: 0;
  background-color: yellow;
  height: 100%;
  background-image: url(/img/header-img.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.main-title::before {
  display: block;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  content: '';
  height: 100%;
  width: 100%;
}

.text-wrapper {
  position: absolute;
  top: 60%;
  left: 10%;
  color: #FFFFFF;
}

.message h2 {
  background-color: #333333;
  color: #FFFFFF;
  line-height: 1.2;
  padding: 10px;
}

.message h2 p {
  text-align: justify;
}

#mark {
  width: 33px;
  position: absolute;
  left: -5px;
  top: -15px;
  z-index: 1;
}

.prologue__message01, .prologue__message02 {
  background: linear-gradient(to left, #D2F1FA 80%, #fff 20%);
  padding: 40px 20px;
}

.prologue__message01 h2, .prologue__message02 h2 {
  padding: 10px;
  background-color: #FAF8D2;
}

.prologue__message01 p, .prologue__message02 p {
  margin-left: 25%;
}

.separator-skyblue-top {
  height: 100px;
  width: 100%;
  background-color: #D2F1FA;
  border-top-right-radius: 100px;
}

.separator-skyblue-bottom {
  height: 100px;
  width: 100%;
  background-color: #D2F1FA;
  border-bottom-left-radius: 100px;
}

.rough-act__bg {
  background-color: #D2F1FA;
}

.rough-act {
  background-color: #D2F1FA;
}

.illust {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  background-color: #D2F1FA;
  background-image: url(/img/circle-arrow@2x.png);
  background-size: 140%;
  background-repeat: no-repeat;
  background-position-x: 75%;
  background-position-y: 30%;
}

.illust div :first-child {
  margin-bottom: 24px;
}

.rough-act__img {
  width: 150px;
}

.box-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-row img {
  margin-right: 20px;
}

.box-row p {
  width: 40%;
}

.box-wrapper {
  display: flex;
  justify-content: space-around;
}

.box-wrapper p {
  width: 100px;
}

.box-column > p {
  width: 150px;
}

.specific-activities article {
  text-align: justify;
}

.specific-activities article img {
  width: 100%;
  max-width: 300px;
}

.spe-act {
  margin-bottom: 80px;
  border-top: solid 2px #707070;
}

.spe-act p {
  line-height: 2.0;
}

.spe-act__text-wrapper h3 {
  font-size: 28px;
}

.spe-act__text-wrapper h4 {
  font-size: 20px;
}

.study-meeting-list {
  margin-top: 28px;
}

.usage-union-dues__bg {
  background-color: #D2F1FA;
  text-align: justify;
}

.usage-union-dues__text p:last-child {
  margin-bottom: 0;
}

#myChart {
  max-width: 400px;
}

.members-thought article {
  width: 100%;
  padding: 10%;
  margin-bottom: 30px;
  min-height: 900px;
  box-sizing: border-box;
  border: solid 2px #707070;
  background-color: #D2F1FA;
}

.members-thought article img {
  width: 100%;
  margin-bottom: 32px;
}

.specialty {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(to left, #D2F1FA 90%, #fff 10%);
  padding: 0;
  border-radius: 20px;
  margin-bottom: 50px;
}

.specialty .heading {
  margin-bottom: 25px;
}

.specialty p {
  margin-left: 15%;
  padding-right: 20px;
  text-align: justify;
}

.spe-heading__wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.spe-heading__wrapper div:first-child {
  margin-top: 10px;
}

.spe__article {
  position: relative;
  width: 100%;
  background-color: #fff;
}

.spe-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  cursor: pointer;
  border: solid 1px rgba(0, 0, 0, 0.8);
  border-radius: 20px;
}

.spe-heading img {
  width: 50px;
  margin-right: 5px;
}

.spe-heading:hover {
  background-color: #FAF8D2;
}

.spe-modal {
  position: relative;
}

#open,
#close {
  cursor: pointer;
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: center;
  padding: 12px;
  margin: 16px auto 0;
  background: #4caf50;
  color: white;
}

#mask {
  background: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
}

#nursing-modal,
#kinder-modal,
#nutritionist-modal,
#school-clerical-modal,
#young-modal,
#etc-modal {
  background: #fff;
  color: #555;
  width: 100%;
  padding: 40px;
  border-radius: 4px;
  position: absolute;
  top: 80px;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 2;
  transition: 0.6s;
}

#nursing-modal p,
#kinder-modal p,
#nutritionist-modal p,
#school-clerical-modal p,
#young-modal p,
#etc-modal p {
  margin: 0 0 20px;
}

#mask.hidden {
  display: none;
}

#nursing-modal.hidden,
#kinder-modal.hidden,
#nutritionist-modal.hidden,
#school-clerical-modal.hidden,
#young-modal.hidden,
#etc-modal.hidden {
  transform: translate(0, 100px);
  visibility: hidden;
  opacity: 0;
}

.question {
  background-color: #D2F1FA;
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.question > img {
  margin-right: 15px;
}

.question > p {
  font-size: 20px;
  margin: 0;
}

.qa {
  background-color: #D2F1FA;
  border-radius: 10px;
}

.qa dd p {
  padding-right: 10px;
  text-align: justify;
}

.qa-list dl {
  position: relative;
  margin-top: 10px;
  padding: 5px;
  cursor: pointer;
  border-bottom: 1px solid #000;
}

.qa-list dl::before {
  position: absolute;
  z-index: 1;
  top: 35px;
  right: 35px;
  display: block;
  width: 7px;
  height: 7px;
  margin: auto;
  content: '';
  transform: rotate(135deg);
  border-top: 2px solid #000;
  border-right: 2px solid #000;
}

.qa-list .open::before {
  transform: rotate(-45deg);
}

.qa-list dl dt {
  position: relative;
  margin: 0;
  padding: 0 0 0 50px;
  font-weight: bold;
  font-size: 20px;
}

.qa-list dl dd {
  position: relative;
  display: none;
  height: auto;
  margin: 20px 0 0;
  padding: 0 0 0 50px;
}

.qa-list dl dd p {
  margin: 30px 0 0;
}

.qa-list dl dd p:first-child {
  margin-top: 0;
}

@media screen and (max-width: 767px) {
  .qa-list dl {
    position: relative;
    padding-right: 40px;
  }
  .qa-list dl::before {
    top: 20px;
    right: 20px;
    width: 7px;
    height: 7px;
  }
  .qa-list dl dt {
    padding: 0;
    font-size: 14px;
  }
  .qa-list dl dd {
    margin: 10px 0 0;
    padding: 0 0 0 30px;
    font-size: 14px;
  }
  .qa-list dl dd p {
    margin: 30px 0 0;
  }
  .qa-list dl dd p:first-child {
    margin-top: 0;
  }
}

.sns-wrapper {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
}

.contact__heading3 {
  font-size: 24px;
}

.sns-icon {
  font-size: 24px;
  text-align: center;
}

.sns-icon h4 {
  color: #333333;
}

.sns-icon img {
  width: 80px;
}

.contact-description h4 {
  font-size: 20px;
}

.g-form__box {
  width: 100%;
  height: 1800px;
}

@media (min-width: 600px) {
  .illust {
    background-size: 100%;
  }
  .g-form__box {
    height: 800px;
  }
}

@media (min-width: 960px) {
  .font-sr {
    font-size: 20px;
    letter-spacing: 0.05em;
    line-height: 2.1;
  }
  .font-sm {
    font-size: 24px;
    letter-spacing: 0.05em;
    line-height: 2.1;
  }
  .font-md {
    font-size: 30px;
    letter-spacing: 0.1em;
    line-height: 2;
  }
  .font-lr {
    font-size: 36px;
    letter-spacing: 0.005em;
    font-weight: 400;
  }
  .font-lg {
    font-size: 40px;
    font-weight: 400;
    letter-spacing: 0.05em;
  }
  .heading {
    margin-bottom: 50px;
  }
  .heading img {
    width: 55px;
    z-index: 1;
  }
  .heading h2 {
    line-height: 1;
    z-index: 99;
    font-size: 36px;
  }
  .deskTop-menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 60%;
  }
  .deskTop-menu ul {
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }
  .deskTop-menu a {
    width: 20%;
  }
  .deskTop-menu li {
    font-size: 12px;
    color: #1470A3;
    margin-right: 15px;
  }
  .header__logo img {
    height: 100px;
  }
  .sp-menu {
    display: none;
  }
  .message p {
    margin-left: 5%;
  }
  .usage-union-dues article {
    display: flex;
  }
  .usage-union-dues__desc p {
    line-height: 1.3;
    letter-spacing: 0;
  }
  .spe-act {
    display: flex;
    padding-top: 80px;
  }
  .spe-act > div {
    flex: 1;
  }
  .g-form__box {
    height: 1400px;
  }
  .spe-heading__wrapper {
    background-color: white;
    justify-content: space-around;
  }
  .spe-heading__wrapper div:first-child {
    margin-top: 0;
  }
  .spe__article {
    width: 45%;
    margin-bottom: 10px;
  }
}
/*# sourceMappingURL=style.css.map */